@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: cyan;
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  background-color: #333;
  padding: 40px 10%;
  height: 30px;
}

.profile-section {
  display: flex;
  align-items: left;
}

.profile-pic {
  border-radius: 15%;
  width: 90px; /* or any size you prefer */
  height: 120px; /* keep width and height the same for a circular shape */
  margin-right: 15px; /* space between image and text */
  align-self: flex-end;
}

.jc {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}
