@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  /* background-color: #fff; */
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: aqua;
} 

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #333;
  text-align: end;
  padding: 30px 10%;
}

.jc {
  cursor: pointer;
}
.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

/* header h1 {
  font-size: 1.5rem;
  margin: 0;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
} */
