@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: cyan;
} 

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #333;
  padding: 30px 10%;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 100px; /* Adjust width to a smaller size */
  height: 100px; /* Adjust height to a smaller size */
  margin-right: 10px; /* Adjust space between the image and the text */
}


.jc {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}
