@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@keyframes flicker {
  0%, 100% { opacity: 1; }
  92% { opacity: 1; }
  93% { opacity: 0.8; }
  94% { opacity: 1; }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}

body {
  background-color: #000;                               
  box-sizing: border-box;    
  width: 100%;
  min-height: 100vh;
  /* animation: flicker 9s infinite;  this is kinda annoying, might want a setting in the view*/ 
} 

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 2px,
    rgba(0, 0, 0, 0.15) 2px,
    rgba(0, 0, 0, 0.15) 4px
  );
  z-index: 999;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    #362312 100%
  );
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #00FF26; 
  
}

.nav-item {
  text-decoration: none;
  color: #00FF26;
  font-size: 3em;
}

.nav-item span {
  position: relative;
  display: inline-block;
  padding-left: .7em;
  padding-right: .7em;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;
}

.nav-item.active span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .25em;
  text-decoration-color: #000;

  background:
    /* LEFT vertical */
    linear-gradient(#00FF26 0 0)
      left .55em / .05em .6em no-repeat,

    /* LEFT bottom horizontal */
    linear-gradient(#00FF26 0 0)
      left .55em / .55em .05em no-repeat,

    /* RIGHT vertical */
    linear-gradient(#00ff26 0 0)
      right .55em / .05em .6em no-repeat,

    /* RIGHT bottom horizontal */
    linear-gradient(#00FF26 0 0)
      right .55em / .55em .05em no-repeat;

}

.nav-item.active span::after {
  content: "";
  position: absolute;

  left: .05em;
  right: .05em;

  bottom: -2px;
  height: 2px;

  background: #000; 
  z-index: 2;
}

.sub-navbar {
  display:flex; 
  align-items: center;
  justify-content:left;
  padding-top: 2em;
  padding-left: 4em;
}

.sub-nav-item.active 
{
  text-decoration: none;
  color: #c8c8c8;
  font-size: 1.5em;
}

.sub-nav-item 
{
  text-decoration: none;
  color: #585858;
  font-size: 1.5em;
  text-shadow:
    1px 0 #93080899,
    -2px 0 #30794099;
  padding-right: .25em;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 1;
  width: 100%;

  padding: .75rem 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  color: #00FF26;
  border-top: 2px solid #00FF26;
  background: #00ff264b;
  z-index: 100;
  
}

.level-item {
  color: #00FF26;
  padding-right: 10em;
  font-size: 1.5em;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;

  /* background:
    linear-gradient(#00ff26 0 0)
      5em .25em / 3em .6em no-repeat,

    linear-gradient(#00ff264b 0 0)
      5em .25em / 12em .6em no-repeat; */

}

.level-item::after{
  content: "";
  position: absolute;
  top: 50%;
  width: 16em;
  height: .7em;
  right: 16em;
  border: #00ff264b solid 1px;
  transform: translateY(-50%);
  background:

    /* LEFT bottom horizontal */
    linear-gradient(#00FF26 0 0)
      left / 5em 55em no-repeat;
}

.dob-item {
  color: #00FF26;
  padding-left: 1em;
  font-size: 1.5em;
  border-left: 3px solid #00ff264b; /* Figure out how to make this taller */
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;
}

.edu-item {
  color: #00FF26;
  padding-right: 1em;
  font-size: 1.5em;
  border-right: 3px solid #00ff264b; /* Figure out how to make this taller */
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;
}

.ascii {
  display: block; 
  padding-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 30%; 
  /* filter: url(#myDisplacementFilter); */
}

.my-name {
  font-size: 2.5em;
  color: #00FF26;
  position: relative;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;
}
.rob-eng {
  font-size: 2em;
  color: #00ff2688;
  position: relative;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 #30794099;
}
.my-name-div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical (optional) */
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.body-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
}

.sparc-words {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  padding-left: 2em;
  padding-top: 2em;
  height: 100%;
  width: 50%;
  justify-content: space-between;
}


.sparc-item {
  display: flex;
  flex-direction: row;
  color: #00FF26;
  font-size: 2.75em;
}

.sparc-item.active span {
  background: #30794099;
  border: .5px solid #00FF26;
  background-size: 100%;
  width: 100%;
  max-width: 100%;
}


/* .sparc-item.active::after{
  content: "";
  position: absolute;
  border: #00ff26 solid 1px;
  transform: translateY(-36%);
  top: 25%;
  width: 1em;
  height: 1.15em;
  right: 19.33em;
  background:  #30794099
} */

.sparc-desc {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  padding-left: 3.25em;
  padding-top: 2em;
  height: 100%;
  width: 50%;
  justify-content: space-between;
}

.sparc-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: stretch;
  width: 100%;
}