@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@keyframes flicker {
  0%, 100% { opacity: 1; }
  92% { opacity: 1; }
  93% { opacity: 0.8; }
  94% { opacity: 1; }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #00FF26; /* Green */
  --secondary-color: #30794099; /* Background Green */
  --third-color: #00ff264b;
}

[data-theme="green"] {
  --primary-color: #00FF26; 
  --secondary-color: #30794099; 
  --third-color: #00ff264b;
}

[data-theme="blue"] {
  --primary-color: #0000ff; 
  --secondary-color: #1c1c52a0;
  --third-color: #0000ff4b;
}

[data-theme="orange"] {
  --primary-color: #ffbb00; 
  --secondary-color: #9e7f29ae;
  --third-color: #ffbb004b;
}

[data-theme="white"] {
  --primary-color: #ffffff; 
  --secondary-color: #000000;
  --third-color: #7878784b;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}

body {
  background-color: #000;                               
  box-sizing: border-box;    
  width: 100%;
  min-height: 100vh;
  /* animation: flicker 5s infinite; */
} 

body::after {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0px,
    transparent 2px,
    rgba(0, 0, 0, 0.15) 2px,
    rgba(0, 0, 0, 0.15) 4px
  );
  z-index: 999;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    #362312 100%
  );
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid var(--primary-color); 
  
}

.nav-item {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 3em;
}

.nav-item span {
  position: relative;
  display: inline-block;
  padding-left: .7em;
  padding-right: .7em;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}

.nav-item.active span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .25em;
  text-decoration-color: #000;

  background:
    /* LEFT vertical */
    linear-gradient(var(--primary-color) 0 0)
      left .55em / .05em .6em no-repeat,

    /* LEFT bottom horizontal */
    linear-gradient(var(--primary-color) 0 0)
      left .55em / .55em .05em no-repeat,

    /* RIGHT vertical */
    linear-gradient(var(--primary-color) 0 0)
      right .55em / .05em .6em no-repeat,

    /* RIGHT bottom horizontal */
    linear-gradient(var(--primary-color) 0 0)
      right .55em / .55em .05em no-repeat;

}

.nav-item.active span::after {
  content: "";
  position: absolute;

  left: .05em;
  right: .05em;

  bottom: -2px;
  height: 2px;

  background: #000; 
  z-index: 2;
}

.sub-navbar {
  display:flex; 
  align-items: center;
  justify-content:left;
  padding-top: 2em;
  padding-left: 4em;
}

.sub-nav-item.active 
{
  text-decoration: none;
  color: #c8c8c8;
  font-size: 1.5em;
}

.sub-nav-item 
{
  text-decoration: none;
  color: #585858;
  font-size: 1.5em;
  text-shadow:
    1px 0 #93080899,
    -2px 0 var(--seconday-color);
  padding-right: .25em;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 1;
  width: 100%;

  padding: .75rem 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;

  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
  background: var(--secondary-color);
  z-index: 100;
  
}

.level-item {
  color: var(--primary-color);
  padding-right: 10em;
  font-size: 1.5em;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}

.level-item::after{
  content: "";
  position: absolute;
  top: 50%;
  width: 16em;
  height: .7em;
  right: 16em;
  border: var(--third-color) solid 1px;
  transform: translateY(-50%);
  background:

    /* LEFT bottom horizontal */
    linear-gradient(var(--primary-color) 0 0)
      left / 5em 55em no-repeat;
}

.dob-item {
  color: var(--primary-color);
  padding-left: 1em;
  font-size: 1.5em;
  border-left: 3px solid var(--third-color); /* Figure out how to make this taller */
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}

.edu-item {
  color: var(--primary-color);
  padding-right: 1em;
  font-size: 1.5em;
  border-right: 3px solid var(--third-color); /* Figure out how to make this taller */
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}

.ascii {
  display: block; 
  padding-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 30%; 
  /* filter: url(#myDisplacementFilter); */
}

.my-name {
  font-size: 2.5em;
  color: var(--primary-color);
  position: relative;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}
.rob-eng {
  font-size: 2em;
  color: var(--third-color);
  position: relative;
  text-shadow:
    2px 0 #00ff2699,
    -3px 0 var(--seconday-color);
}
.my-name-div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical (optional) */
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.body-div {
  display: flex;
  flex-direction: row;
  height: 78vh;
}

.sparc-words {
  display: flex;
  font-size: 1.5em;
  flex-direction: column;
  padding-left: 2em;
  padding-top: 2em;
  height: 95%;
  width: 50%;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}


.sparc-item {
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
  font-size: 2.75em;
  padding-bottom: .25em;
}

.sparc-item.active span {
  background: var(--seconday-color);
  border: .5px solid var(--primary-color);
  background-size: 100%;
  width: 100%;
  max-width: 100%;
}

.sparc-desc-image {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sparc-desc {
  font-size: 2em;
  color: var(--primary-color);
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .1em;
  
}

.sparc-image {
  display: block; 
  padding-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 45%; 
  animation: spinHorizontal 6s linear infinite;
  transform-style: preserve-3d; 
}
.edu-image {
  display: block; 
  padding-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 35%; 
  animation: spinHorizontal 6s linear infinite;
  transform-style: preserve-3d; 
}
.proj-image {
  display: block; 
  padding-top: 2em;
  margin-left: auto; 
  margin-right: auto;
  width: 60%; 
}
@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.sparc-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}



.about-body::after {
  content: "";
  display: block;
  clear: both;
}

.about-paragraph{
  font-size: 1.75em;
  color: var(--primary-color);
  letter-spacing: 2px;
  line-height: 1.25;
  padding-left: 1em;
}

.pfp {
  float: left;
  padding-top: 1em;
  padding-left: 2em;
  width: 20%;
}

.view-right {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  font-size: 2em;
  color: var(--primary-color);
}

.view-click {
  font-size: 2em;
  color: var(--primary-color);
  justify-self:center;
}